@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lilita+One&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 840px;
    /* padding: 0 20px; */
    margin: 85px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 18px black;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 8px;
}

.wrapper .title {
    line-height: 90px;
    background: #0871bb;
    padding-left: 20px;
    text-align: center;
    border-radius: 6px 6px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    /* padding-left: 18%; */
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:hover {
    border-color: #0b82d7;
    /* box-shadow: inset 0px 0px 2px 2px rgba(26, 69, 188, 0.25); */
}

form .row input:focus {
    border-color: #0b82d7;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 69, 188, 0.25);
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 20px;
    background: #0b82d7;
    border-radius: 5px 0 0 5px;
    border: 1px solid #0b82d7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .button input {
    margin-top: 25px;
    font-size: large;
    color: #fff;
    font-weight: 500;
    padding-left: 0px;
    background: #0b82d7;
    border: 1px solid #0b82d7;
    cursor: pointer;
}

.wrapper form .button input:hover {
    background: #0b547e;
    transition-duration: 0.7s;
}

.wrapper form .pass {
    margin: -8px 0 35px 0;
}

.wrapper form .pass a {
    color: #0b82d7;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #0b82d7;
    text-decoration: none;
}

.wrapper form .signup-link a:hover {
    text-decoration: underline;
}

.submitMsg {
    text-align: center;
    color: #d70b0b;
}