@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lilita+One&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1abc9c;
    overflow: hidden;
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.wrapper .title {
    line-height: 90px;
    background: #16a085;
    padding-left: 20px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    /* padding-left: 18%; */
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #12876f;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188, 156, 0.25);
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 20px;
    background: #16a085;
    border-radius: 5px 0 0 5px;
    border: 1px solid #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .button input {
    color: #fff;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
}

.wrapper form .button input:hover {
    background: #12876f;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #16a085;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #16a085;
    text-decoration: none;
}

.wrapper form .signup-link a:hover {
    text-decoration: underline;
}